<!DOCTYPE html>
<html>
<head>
  <title>MyWebsite</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<header>
		<div class = "col-xs-3">
			<div class="circle">
				<br />
				<%= link_to 'LOGO_font', root_path %>
				<br />
			</div>
		</div>
		<div class = "col-xs-5, :posotion => pull-right">
			<br />
			<%= link_to 'About', about_path %>
			<br />
		</div>
	</header>

	<br class="clear" />
	<br class="clear" />

<%= yield %>

</body>
</html>
