<!DOCTYPE html>
<html>
<head>
  <title>The Strategizer</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<header>
		<nav class="navbar navbar-transparent navbar-relative" role="navigation">
		  <div class="navbar-inner"> 
			  	<div class="container-fluid">
			    <!-- Brand and toggle get grouped for better mobile display -->
			    <div class="navbar-header">
			      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
			        <span class="sr-only">Toggle navigation</span>
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
			      </button>
			      	<a href="http://piczly.com" class="navbar-brand">
                    	<img src="http://ec2-54-69-36-221.us-west-2.compute.amazonaws.com/wp-content/uploads/2014/12/logo-grey1.png"/>
                	</a>
			    </div>

			    <!-- Collect the nav links, forms, and other content for toggling -->
			    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			      <ul class="nav navbar-nav navbar-right">
			      	<li><%= link_to "HOME", root_path %></li>
			        <li><%= link_to "ABOUT", about_path %></li>
			      </ul>
			    </div><!-- /.navbar-collapse -->
			  </div><!-- /.container-fluid -->
		 </div>
		</nav>
</header>

	<div class="jumbotron">
		<div class="container">

<%= yield %>

		</div>
 	</div>

</body>
</html>
